/AppShopCommons/nbproject/private/
/AppShop/nbproject/private/
/AppShop/AppShop-war/nbproject/private/
/AppShop/AppShop-ejb/nbproject/private/
/AppShop/AppShopService/nbproject/private/
/AppShop/AppShopWeb/nbproject/private/
/AppShop/AppShopService/build/
/AppShop/AppShopService/dist/
/AppShop/dist/
/AppShop/build/
/AppShop/AppShopWeb-war/nbproject/private/
/AppShop/AppShopService-ejb/nbproject/private/
/AppShop/AppShopWeb-war/build/
/AppShop/AppShopWeb-war/dist/
/AppShop/AppShopService-ejb/build/
/AppShop/AppShopService-ejb/dist/
/AppShopCommons/build/
/AppShopCommons/dist/